.Conversion {
  margin-top: 20px;
}

.report-card-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 15px;
  height: 100%;
}

.report-card-title {
  border-bottom: solid #00b187 2px;
  margin: 8px 0 20px 0;
  padding-bottom: 20px;
  font-weight: normal;
}
.report-card-description {
  border-top: solid #00b187 2px;
  margin: 12px 0 8px 0;
  padding-top: 20px;
}

.team-name {
  font-weight: normal;
}
